In [1]:
#Instalando a biblioteca
!pip install -q cryptocmd

In [2]:
#Importando 
from cryptocmd import CmcScraper

In [3]:
#Definindo a moeda
scraper = CmcScraper("BTC")

In [4]:
#Requisição
dados_cripto = scraper.get_dataframe()

In [6]:
#Exibindo o dataframe
dados_cripto

,Date,Open,High,Low,Close,Volume,Market Cap,Time Open,Time High,Time Low,Time Close
0,2024-04-10,69140.240643,71093.433161,67503.565613,70587.879439,3.831860e+10,1.388870e+12,2024-04-10T00:00:00.000Z,2024-04-10T22:26:00.000Z,2024-04-10T13:51:00.000Z,2024-04-10T23:59:59.999Z
1,2024-04-09,71632.502662,71742.506324,68212.919302,69139.015832,3.642690e+10,1.360554e+12,2024-04-09T00:00:00.000Z,2024-04-09T00:16:00.000Z,2024-04-09T17:13:00.000Z,2024-04-09T23:59:59.999Z
2,2024-04-08,69362.554005,72715.359609,69064.244898,71631.356946,3.726143e+10,1.409530e+12,2024-04-08T00:00:00.000Z,2024-04-08T12:13:00.000Z,2024-04-08T00:36:00.000Z,2024-04-08T23:59:59.999Z
3,2024-04-07,68897.111130,70284.426265,68851.630090,69362.551278,2.120493e+10,1.364796e+12,2024-04-07T00:00:00.000Z,2024-04-07T16:43:00.000Z,2024-04-07T00:30:00.000Z,2024-04-07T23:59:59.999Z
4,2024-04-06,67840.573581,69629.602049,67491.715235,68896.109984,1.996779e+10,1.355567e+12,2024-04-06T00:00:00.000Z,2024-04-06T23:10:00.000Z,2024-04-06T02:38:00.000Z,2024-04-06T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...
3996,2013-05-02,116.379997,125.599998,92.281898,105.209999,0.000000e+00,1.168517e+09,2013-05-02T00:00:00.000Z,2013-05-02T14:25:01.000Z,2013-05-02T14:30:02.000Z,2013-05-02T23:59:59.999Z
3997,2013-05-01,139.000000,139.889999,107.720001,116.989998,0.000000e+00,1.298955e+09,2013-05-01T00:00:00.000Z,2013-05-01T00:15:01.000Z,2013-05-01T19:55:01.000Z,2013-05-01T23:59:59.999Z
3998,2013-04-30,144.000000,146.929993,134.050003,139.000000,0.000000e+00,1.542813e+09,2013-04-30T00:00:00.000Z,2013-04-30T08:25:02.000Z,2013-04-30T18:55:01.000Z,2013-04-30T23:59:59.999Z
3999,2013-04-29,134.444000,147.488007,134.000000,144.539993,0.000000e+00,1.603769e+09,2013-04-29T00:00:00.000Z,2013-04-29T13:15:01.000Z,2013-04-29T05:20:01.000Z,2013-04-29T23:59:59.999Z
4000,2013-04-28,136.689455,143.365942,110.845593,127.954255,2.595684e+04,1.419008e+09,2013-04-28T00:00:00.000Z,2013-04-28T00:45:00.000Z,2013-04-28T13:05:00.000Z,2013-04-28T23:59:59.999Z