In [ ]:
!pip install -q python-bcb

In [2]:
from bcb import sgs

In [3]:
dados_bc = sgs.get({"DOLAR": 1})

In [5]:
dados_bc

                DOLAR
Date
1984-11-28  2828.0000
1984-11-29  2828.0000
1984-11-30  2881.0000
1984-12-03  2881.0000
1984-12-04  2881.0000
...               ...
2024-04-04     5.0237
2024-04-05     5.0520
2024-04-08     5.0421
2024-04-09     5.0080
2024-04-10     5.0654

[9862 rows x 1 columns]